/* login.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.login-container {
    display: flex;
    height: 100%;
}

.left-section {
    flex: 0 0 70%;
    background-image: url('../img/login.jpg'); /* 背景图片路径 */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}



.right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    max-width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
